*{
    box-sizing: border-box;
    
}

.hero{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    box-sizing: border-box;

}

.hero h1{
    font-size: 4rem;
    /* margin-bottom: 1rem; */
}

.hero span{
    /* font-size: 1.5rem; */
    background: linear-gradient(276deg, #DA7C25 0.36%, #B923E1 102.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero img{
    margin-top: 15px;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 18px;
    line-height: 30px
}

.hero-action{
    display: flex;
    /* flex-direction: row; */
    gap: 15px;
}

.hero-contacts{
    padding: 20px 55px;
    border-radius: 50px;
    background: linear-gradient(276deg, #DA7C25 0.36%, #B923E1 102.6%);
    font-size: 20px ;
    cursor: pointer;
    color: white;
    border: 2px solid rgb(255, 255, 255) 0%;
}

.hero-resume {
    padding: 20px 55px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer
}

.hero-contacts:hover {
    transform: scale(1.05);
}

.hero-resume:hover {
    border-color: #b415ff
}
