.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
    /* background-color: #333; */
    color: white;
}

img{
    width: 80px;
    height: 80px;
}

.nav-menu {
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(276deg, #DA7C25 0.36%, #B923E1 102.6%);
    /* background-color: #e52e71; */
    font-size: 22px ;
    cursor: pointer;
}

.nav-connect:hover{
    transform: scale(1.1);
    transition: 0.5s;
}